# NES specific
*.nes
*.nes.deb
*.o
*.s
!asm4c.s
!reset.s
!release/*.nes
!Music/famitone2.s
!Music/famitone4.s
!Music/TestMusic.s
!Music/custom/BlockDude.s
!Music/custom/SoundFx.s
# Other
.DS_Store
